.contents{
    max-width: 1084px;
    width: 100%;
    margin: 0 auto;
  }
  

  .new-item{
    background: #F7320E !important;
    color: #fff !important;
    font-weight: 700;
  }
  
  .recommend-item-wrap{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    margin-top: 40px;
  }
  
  .recommend-item{
    width: calc((100% - 60px) / 3);
    padding: 20px 15px;
    color: $primary;
    transition: all 0.3s;
    border: 1px solid #DDDDDD;
    &__title{
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 2.44;
      border-bottom: 1px dotted $primary;
    }
  
    &__txt{
      margin-top: 20px;
      font-size: 1.4rem;
      line-height: 1.5;
    }
    &__price{
      font-size: 1.6rem;
      font-weight: 700;
      width: fit-content;
      margin-left: auto;
      margin-top: 30px;
      span{
        font-size: 1.2rem;
        font-weight: 400;
      }
    }
  
  &__btn{
    width: 100%;
    margin-top: 10px;
    &-txt{
      border: 1px solid $primary;
      border-radius: 6px;
      display: inline-block;
      padding: 16px 0 14px;
      font-size: 1.4rem;
      font-weight: 700;
      width: 100%;
      position: relative;
      &:hover{
        border: 1px solid #A88E25;
        background: $secondary;
          opacity: 1;
      }
      &::after{
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-top: 2px solid black; 
        border-right: 2px solid black; 
        padding: 4px;
        margin-left: 8px; 
        transform: rotate(45deg); 
        transform-origin: center;
      }
    }
  }
  
  }
  
  .recommend-item.new{
  position: relative;
  }
  
  .recommend-item.new::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-image: url("/assets/img/common/icon-new.png");
    width: 80px;
    height: 83px;
  }