.section-title {
    display: flex;
    align-items: end;
    img{
        @include mq(md){
            width: 21px;
        }
    }
}

.section-title-txt {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.46;
    color: $primary;
    position: relative;
    border-bottom: 2px solid $accent;
    width: 100%;
    margin-left: 20px;
    @include mq(md){
        font-size: 2.4rem;
        line-height: 1.83;
    }
}
.news {
    padding-bottom: 100px;
    @include mq(md){
        padding-bottom: 80px;
    }
    &__all-articles{
        background: $primary;
        color: #fff;
        font-size: 1.6rem;
        font-weight: 700;
        display: block;
        width: 100px;
        text-align: center;
        border-radius: 6px;
        padding: 3.5px 0px;
        margin-left: auto;
        margin-top: -50px;
        @include mq(md){
            font-size: 1.3rem;
        }
    }
    &__list {
        margin-top: 90px;
        @include mq(md){
            margin-top: 43px;
        }
    }
    &__item {
        padding: 23px 0 21px;
        border-bottom: 1px dotted $accent;
        display: flex;
        @include mq(md){
            flex-direction: column;
        }
    }
    &__item:first-of-type {
        border-top: 1px dotted $accent;
    }

    &__date {
        font-size: 1.6rem;
        margin-right: 24px;
        @include mq(md){
            font-size: 1.6rem;
        }
    }
    &__badge {
        width: 92px;
        font-size: 1.2rem;
        color: $primary;
        background: $accent;
        padding: 4px 0;
        margin-right: 5px;
        display: inline-block;
        text-align: center;
        @include mq(md){
            font-size: 1.2rem;
            margin-top: 8px;
        }
    }
    &__link {
        font-size: 1.6rem;
        @include mq(md){
            font-size: 1.6rem;
            margin-top: 10px;
        }
    }
    &__link:hover {
        color: $accent;
        opacity: 1;
    }
}

.recommend{
   padding-bottom: 100px;
   @include mq(md){
    padding-bottom: 80px;
   }
}

.item-category{
    padding-bottom: 100px;
    @include mq(md){
        padding-bottom: 80px;
    }
    &__list{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 33px;
        @include mq(md){
            flex-direction: column;
            margin-top: 20px;
            gap: 20px;
        }
    }
    &__item{
        border: 1px solid #ddd;
        width: calc((100% - 60px) / 3);
        @include mq(md){
            width: 100%;
        }
    }
    &__link{
        display: flex;
        align-items: center;
    }
    &__img{
        height: 120px;
    }
    &__name{
        font-size: 1.8rem;
        color: $primary;
        padding-left: 20px;
    }
}


.partners{
    padding: 100px 0;
    background: $secondary;
    position: relative;
    &::before{
        position: absolute;
        content: "";
        background: $secondary;
        left: -50vw;
        top: 0;
        width: 50vw;
        height: 100%;
    }
    &::after{
        position: absolute;
        content: "";
        background: $secondary;
        right: -50vw;
        top: 0;
        width: 50vw;
        height: 100%;
    }
    @include mq(md){
        padding: 80px 0px;
    }

    .section-title{
        text-align: center;
        flex-direction: column;
        margin: 0;
        &-txt{
            border-bottom: none;
        }
        &-lead{
            font-size: 1.6rem;
            line-height: 1.75;
            margin: 40px auto 0;
            @include mq(md){
                text-align: left;
            }
        }
    }

    .partners-list{
        margin-top: 80px;
        @include mq(md){
            margin-top: 50px;
        }
        &__item{
            display: flex;
            justify-content: space-between;
            margin-top: 40px;
            @include mq(md){
                flex-direction: column;
            }
            img{
                width: 440px;
                margin-right: 20px;
                @include mq(md){
                    width: 100%;
                    margin-right: 0;
                }
            }
        }
        &__details{
            width: 624px;
            @include mq(md){
                width: 100%;
                margin-top: 20px;
            }
            &-title{
                font-size: 2.0rem;
                font-weight: 700;
                line-height: 1.4;
                padding: 8px 0;
                text-align: center;
                color:#fff;
                background: $primary;
                @include mq(md){
                    font-size: 1.6rem;
                }
            }

            &-list{
                margin-top: 30px;
                @include mq(md){
                    margin-top: 20px;
                }
            }

            &-list-item{
                font-size: 1.6rem;
                line-height: 1.75;
                color: $primary;
                display: flex;
                @include mq(md){
                    flex-direction: column;
                    margin-top: 15px;
                    font-size: 1.4rem;
                }
                span{
                    font-weight: 700;
                    width: 100px;
                    display: inline-block;
                    @include mq(md){
                        max-width: 90px;
                        width: 100%;
                    }
                }
            }
        }
    }
}

.profile{
    padding: 100px 0;
    text-align: center;
    color: $primary;
    @include mq(md){
        padding: 80px 0 40px;
    }
    .section-title-txt{
        border-bottom: none;
        margin: 0;

    }
    &__img{
        width: 140px;
        margin-top: 40px;
    }
    &__editor{
        font-size: 1.6rem;
        font-weight: 700;
        margin-top: 22px;
    }
    &__lead{
        margin-top: 20px;
        font-size: 1.6rem;
        line-height: 1.75;
    }

    &__icons{
        display: flex;
        justify-content: center;
        width: 200px;
        margin: 40px auto 0;
        gap: 20px;
    
    }

    &__icon{
        width: 80px;
    }
}